<div class="orders" id="scrollTopPad">
   <div id="menus" class="container">
<!--<input type="text" ng-model="menuSearch"></input>-->
<div class="col-xs-12 ">
      <div class="col-sm-2 category">
	<div id="fixedContainer-catgory" class="fixedContainer-category">
		<div class="navbar navbar-default navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Category</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="isCollapsed">
          <ul class="nav navbar-nav categories">
            <li  ng-repeat="categoryListVal in categoryList" du-smooth-scroll="{{categoryListVal}}" du-scrollspy><a  >{{categoryListVal}}</a></li>  
            
          </ul>
        
        </div>
							 
				
	   </div>
      </div>
      <div class="col-sm-6">
	  <div class="col-md-12">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text"  ng-model="menuSearch" class="form-control" name="search" id="search" placeholder="search menu">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span></input>
            	</div>
            </form>
        </div>
		<div id="{{menuDataVal.category}}" ng-repeat="menuDataVal in menuToFilter() |filter: menuSearch | filter:menuItems">
        <div class="categoryHeader">
			{{menuDataVal.category}}				
		</div>
		<ul class="list-group" style="">
			<li class="menu" ng-repeat="menuVal in menuMainFormData  |filter: menuSearch | filter:{category: menuDataVal.category}">
				 <div class="list-group-item items-group"><span class="menu-name">{{menuVal.name}}</span>
                        <span class="pull-right moduleRight">
						     <span ng-class="{'veg':menuVal.type, 'non-veg':!menuVal.type}" class="col-md-offset-0 pull-left"></span>
						    <span class="price col-md-offset-0 col-sm-offset-0"><strong>₹ {{menuVal.price}}</strong>
							</span>
							<button class="btn btn-default btn-sm wunderChefBtn pull-right" type="button">
							<span class="icon-plus">+</span>
							</button>
						</span>
						
						<div class="menu-item-small-description">{{menuVal.menu_item_description}}</div>
						<div class="sub-menu-items-group"></div>
						<div class=" item-description">{{menuVal.menu_item_small_description}}</div>
				</div>
			</li>
		</ul>
		</div>
	    </div>
	</div>
	</div>
</div>